<style>
.textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
    font-family: 'Droid Sans Mono', 'Titillium Web', sans-serif;
    font-size: 28px;
    line-height: 40px;
}

.range {
    width: 100%;
}
</style>
<div class="container">
    <!-- HEADER AND TODO COUNT -->
    <div class="text-center">
        <h1>Tag-IT! Found! <span class="label label-info"></span></h1>
    </div>
    Your founded key id is -
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="key"> the owner message -
    <textarea type="text" class="textarea" ng-model="tag[0].msg"></textarea>
    pos.lat - {{pos.lat}} pos.lng - {{pos.lng}}
</div>
